@using schaatswedstrijden.Controllers;

@{
    ViewData["Title"] = "Home Page";
    CompetitionController competitionController = new CompetitionController();
    List<Root> competitions = competitionController.GetAllCompetitions();
    int counter = 0;
    string style = "tg-buh4";
}

<h1>Wedstrijden</h1>
    <div class="tg-wrap">
        <table class="tg">
            <tbody>
                @foreach (Root competition in competitions)
                {
                    if (counter % 2 == 0)
                    {
                        style = "tg-buh4";
                    }
                    else
                    {
                        style = "tg-0lax";
                    }
                <tr>
                    <td class="@style wi">@Html.ActionLink(competition.name, "Wedstrijd", new { ID = competition.id })</td>
                    
                    @try {
                        <td class="@style">@competition.venue.address.city</td>
                    }
                    catch (Exception e)
                    {
                        Console.WriteLine(e.Message + competition.id);
                    }

                    <td class="@style">@competition.starts.AddHours(1).ToString("dd-MM-yyyy HH:mm")</td>

                    @if (competition.resultsStatus == 2 || competition.settings.closes.AddHours(1) < DateTime.Now)
                    {
                        <td class="@style">
                            gesloten
                        </td>
                        <td class="@style">
                            <a href="/Home/Deelnemers/@competition.id">&#9924 Deelnemers</a>
                        </td>
                        <td class="@style">
                            @if(competition.resultsStatus == 2)
                            {
                            <a href="https://emandovantage.com/api/competitions/@competition.id/reports/Results/Pdf?optionalColumns=ClubShortName">&#9782 Uitslag</a>
                            }
                        </td>
                    }
                    else if (competition.settings.opens.AddHours(1) > DateTime.Now)
                    {
                        <td class="@style">
                            <a href="https://inschrijven.schaatsen.nl/#/wedstrijd/@competition.id/inschrijven/kies-licentie">&#9998 Inschrijven</a>
                        </td>
                        <td class="@style">
                            <a href="/Home/Deelnemers/@competition.id">&#9924 Deelnemers</a>
                        </td>
                        <td class="@style"></td>
                    }
                    else
                    {
                        <td class="@style">
                            Open om @competition.settings.opens.AddHours(1).ToString("dd-MM-yyyy HH:mm")
                        </td>
                        <td class="@style"></td>
                        <td class="@style"></td>
                    }
                </tr>
                    counter++;
                }
            </tbody>
        </table>
    </div>